.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.app-is-mobile {
    .app-toolbar {
      position: fixed;
      z-index: 2;
    }

    .app-sidenav-container {
      flex: 1 0 auto;
    }
  }

  .app-name {
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    small {
      font-weight: 100;
      font-weight: 400;
      font-size: 0.75rem;
      color: var(--active-blue);
      border: 1px solid var(--active-blue);
      padding: 0.2rem;
      line-height: 0.75rem;
      border-radius: 0.5rem;
    }
  }

  mat-toolbar {
    background-color: var(--black);
  }

  .app-sidenav-container {
    flex: 1;

    mat-sidenav {
      width: 20rem;
      background-color: var(--black);
      border: none;

      mat-nav-list {
        padding: 0.5rem 1rem;

        .new-chat {
          margin-left: 1rem;
          margin-bottom: 1.5rem;
        }

        .conversation-link {
          border-radius: 1.5rem;

          &.is-active {
            background-color: var(--active-green);

            &:focus::before {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}