
<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <!-- Toolbar -->
  <mat-toolbar class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Bard <small>Experiment</small></h1>
  </mat-toolbar>

  <!-- Sidenavbar -->
  <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      [opened]="!mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <div mat-list-item>
          <button mat-raised-button
            [routerLink]="'chat'"
            routerLinkActive="disabled"
            [routerLinkActiveOptions]="{ exact: true }"
            class="new-chat">
            <mat-icon>add</mat-icon> New Chat
          </button>
        </div>

        <!-- TODO: This can be a component in itself which would handle all the recent conversations with
              pagination etc if required -->
        <h5 class="recent-title" *ngIf="(chatService.conversationList$ | async).length">Recent</h5>
        <!-- List of conversations -->
        <div mat-list-item class="conversation-link"
          *ngFor="let conversation of chatService.conversationList$ | async">
          <button mat-raised-button [routerLink]="'chat'"
            routerLinkActive="is-active"
            [routerLink]="['/chat', conversation.id]">
            <mat-icon>chat_bubble_outline</mat-icon> {{ conversation.message }}
          </button>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Nav content -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>