

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Bard <small>Experiment</small></h1>
  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      [opened]="!mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <div mat-list-item>
          <button mat-raised-button [routerLink]="'chat'" class="new-chat"><mat-icon>add</mat-icon>New Chat</button>
        </div>
        <a mat-list-item *ngFor="let conversation of chatService.conversationList$ | async"
          class="conversation-link"
          routerLinkActive="is-active"
          [routerLink]="['/chat', conversation.id]">{{ conversation.message }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>