<div class="message-container" *ngIf="message.type === 'user'">
  <div class="message-wrapper">
    <mat-icon class="user-icon" fontIcon="face" color="accent"></mat-icon>
    <div class="content" [innerHtml]="message.message"></div>
  </div>
</div>

<div class="message-container bot-response" *ngIf="message.type === 'bot'">
  <div class="message-wrapper">
    <!-- <mat-icon class="user-icon" fontIcon="smart_toy" *ngIf="message.state === 'success'"></mat-icon> -->
    <img *ngIf="message.state === 'success'" src="assets/bard-logo.svg" class="bard-logo"/>
    <mat-spinner *ngIf="message.state === 'loading'" color="accent" diameter="48"></mat-spinner>
    <div class="content" [innerHtml]="message.message"></div>
  </div>
  <div class="extra-actions" *ngIf="message.state !== 'loading'">
    <button mat-icon-button><mat-icon>thumb_up</mat-icon></button>
    <button mat-icon-button><mat-icon>thumb_down</mat-icon></button>
    <button mat-icon-button><mat-icon>tune</mat-icon></button>
    <button mat-icon-button><mat-icon>share</mat-icon></button>
    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
  </div>
</div>
